html {
  width: 100%;
  background-color: #dddddd;
}

body {
  width: 100%;
  margin: 0;
}

nav {
  height: 3rem;
  background-color: green;

  display: flex;
  justify-content: start;
  align-items: center;
}

nav ul {
  margin-top: 0;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li h1 {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: red;
}

#inventory_table {
  border-collapse: collapse;
}

#inventory_table tr:hover td {
  background-color: white;
}

#inventory_table tr:active td {
  background-color: green;
}

#inventory_table tr:hover td .item_expansion {
  background-color: #dddddd;
}

/* .group:hover { */
/*   background-color: green; */
/* } */

.even {
  background-color: gray;
}

#inventory_grid {
  display: flex;
  row-gap: 10px;
  width: 100%;
}

#filters {
  width: 15rem;
  float: left;
}

#inventory {
  /* I fucking hate css omfg */
  flex-grow: 1;

  table {
    width: 100%;
  }
}
