{% extends 'base.jinja' %}

{% block header %}
    <h1>{% block title %}Homepage{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Dette er klassesiden. Det gir mening at det skal være ne enkel
homepage, men det var ikke en i designet, så jeg vet ikke hva jeg skal
putte her.</p>
{% endblock %}
