<style>
 
  body {
       background: linear-gradient(120deg,rgb(170, 114, 30) 0%,rgb(183, 109, 187) 50%,rgb(159, 162, 160) 100%);
            background-size: 200% 200%;
            animation: bg 15s infinite linear;
            color: var(--text-color);
            font-family: 'DM Sans', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            transition: all 0.5s;
  }
 
  .registration-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    width: 280px; 
    animation: appear 1s ease-out;
  }
  @keyframes appear {
    from {opacity: 0; transform: translateY(20px);}
    to   {opacity: 1; transform: translateY(0);}
  }

  .registration-container h2 {
    margin-bottom: 1em;
    animation: slideIn 1s ease-out;
  }
  @keyframes slideIn {
    from {opacity: 0; transform: translateY(-20px);}
    to   {opacity: 1; transform: translateY(0);}
  }

  
  .registration-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .registration-container label {
    margin-top: 0.5em;
    font-weight: bold;
  }
  .registration-container input {
    border: none;
    border-bottom: 2px solid #333;
    margin-bottom: 1em;
    padding: 0.6em;
    font-size: 1em;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 3px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
  }
  .registration-container input:focus {
    border-color: #63bb84;
    box-shadow: 0 0 10px #63bb84;
  }

 
  .registration-container input[type="submit"] {
    background-color: #eeeeee;
    color: #000;
    border: none;
    border-radius: 15px;
    padding: 0.5em 3em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s;
    animation: slideIn 1s ease-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    border-color: #3b3b3b;
    margin-top: 1em;
  }
  .registration-container input[type="submit"]:hover {
    background-color: rgb(206, 206, 206);
    transform: scale(1.03);
  }
</style>

<div class="registration-container">
  <h2>Registration</h2>
  <form method="post" action="{{ url_for('auth.register') }}">
    <label for="username"></label>
    <input name="username" placeholder="Username" id="username" required>
    <label for="password"></label>
    <input name="password" id="password" placeholder="Password" required type="password">
    <input type="submit" value="Sign-up">
  </form>
</div>
